# Managed by LINDS-Ansible: roles/router/files/etc/systemd/network/30-ipsec10.network. IPsec RA road-warrior (route-based)
[Match]
Name=ipsec10

[Link]
RequiredForOnline=no

[Network]
ConfigureWithoutCarrier=yes
IPv6AcceptRA=no
LinkLocalAddressing=no
