# Managed by LINDS-Ansible: roles/router/files/etc/systemd/network/30-lan0.52.network. vlan-52-isolated
[Match]
Name=lan0.52

[Link]
RequiredForOnline=no

[Network]
Address=10.0.52.1/24
IPv6AcceptRA=no
LLDP=no
EmitLLDP=no
DHCPPrefixDelegation=yes
IPv6SendRA=no

[DHCPPrefixDelegation]
UplinkInterface=wan0
SubnetId=0x1
Announce=no
Assign=yes
Token=static:::1
