# Rendered by LINDS-Ansible from the vault (ipsec_users): EAP-MSCHAPv2
# road-warrior accounts. Included by swanctl.conf.
secrets {
{% for u in ipsec_users %}
    eap-{{ loop.index }} {
        id = {{ u.user }}
        secret = "{{ u.password }}"
    }
{% endfor %}
}
